@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;600&family=Crimson+Text&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;600&family=Crimson+Text&family=Roboto+Mono:wght@300&display=swap');


.navbar-toggler-icon {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navan ul li {

    font-family: 'Cormorant', serif;
    font-family: 'Crimson Text', serif;
    font-size: 14px;
}

.navan ul li:hover {
    width: 101%;
    margin-left: 5px;
    transition: width 2s;
    text-decoration: underline !important;
}


/* h2, h3{
    font-family: 'Cormorant', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder; 
} */
.topnavstyle {
    font-family: 'Cormorant', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 14px;
    /* margin-top: -19px !important;
    background-color: #749AA4 !important; */

  
}
.topnavlinkcol{
    color:  #43F609 !important;
    font-size: 16px !important;
}

.nav-pills .nav-link.active{
    background-color: none !important;
}
.navbar-toggler-icon{
   background-color:  #43F906 !important;
   border-radius: 10%;
}
.navbar-toggler{
    border-color: #43F609 !important;
 }

.mainsec img {
    position: relative;
    align-items: center;
    justify-content: center;
}

/* .section{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
} */
/* .maincont {
    position: absolute;
    
} */

.collection {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.collection1 {
    margin-top: 16rem;
}

/* *:focus {
    outline: none;
} */

.text {
    font-size: 50px;
    font-family: 'Cormorant', serif;
    font-family: 'Crimson Text', serif;
}

.pic {
    margin-top: 0px;
}

.imgban img {
    height: 95vh;
}

.colorside {
    color: #000 !important;
    /* background-color: transparent !important; */
}

.colorside ul li {
    color: #000;
}


.footertext h4 {
    color: #fff;
}

.footertext ul li a {
    color: #fff;
}

.footertext a:hover {
    color: red;
}

.cardwidth {
    width: 50%;
}
.carousel-caption{
    bottom: 16% !important;
}
@media only screen and (max-width: 320px) {
    .roombgbanner h1 {
        top: 16%;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        font-size: 2rem !important;
        color: #fff;
        font-family: 'Cormorant', serif;
        font-family: 'Crimson Text', serif;
    
    }
    .Gallarytext h1 {
        font-size: 3rem !important;
        color: #fff;
        font-family: 'Cormorant', serif;
        font-family: 'Crimson Text', serif;
    
    }
    .galhead h1 {
        width: 100%;
        font-size: 3rem !important;
        text-align: center;
        font-family: 'Cormorant', serif;
        font-family: 'Crimson Text', serif;
        color: #fff;
        padding: 20px;
        margin-bottom: 25px;
    }
    .cardwidth {
        width: 100%;
        align-items: center;
    }

    .topnavstyle {
        flex-direction: column;
        z-index: 999;
    }

    .topnavstyle ul li a {
        color: #fff;

    }

    .Mirinda {
        margin-top: 1.7rem !important;

    }
    .Situated h1 {
        font-size: 3rem !important;
        color: #fff;
        font-family: 'Cormorant', serif;
        font-family: 'Crimson Text', serif;
    
    }
    .Mirinda h1 {
        width: 100%;
        font-size: 3rem !important;
        text-align: center;
        font-family: 'Cormorant', serif;
        font-family: 'Crimson Text', serif;
        background-color: rgb(49, 34, 29);
        color: #fff;
        padding: 20px;
    
    }
    .mirinda0 h1{
        width: 100%;
        font-size: 3rem !important;
        text-align: center;
        font-family: 'Cormorant', serif;
        font-family: 'Crimson Text', serif;
        background-color: rgb(49, 34, 29);
        color: #fff;
        padding: 20px;
    }
    .Luxtext h2{
        color: #43F609;
        font-size: 3rem !important;
        font-family: 'Cormorant', serif;
        font-family: 'Crimson Text', serif;
    }
    .Discover h1 {
        font-size: 2.5rem !important;
        font-weight: bold;
        color: #fff;
    
    }
    .about1 h1 {
        padding: 30px;
        font-size: 3rem !important;
        text-align: center;
        background-color: rgb(61, 52, 49);
        color: #fff;
        font-family: 'Cormorant', serif;
        font-family: 'Crimson Text', serif;
    }
    .DiscoverBack h1 {
        font-family: 'Cormorant', serif;
        font-family: 'Crimson Text', serif;
        font-family: 'Roboto Mono', monospace;
        text-align: center;
        /* font-weight: bolder; */
        font-size: 2.5rem !important;
        padding: 20px;
    }
    .Swiperjs img{
        height: 11rem !important;
    }
}

@media only screen and (max-width: 620px) {
    .dblock{
        display: none;
    }
    .cardwidth {
        width: 100%;
        align-items: center;
    }

    .topnavstyle ul li a {
        color: #fff;

    }


}

@media only screen and (max-width: 620px) {
    .con-box1 {
        position: absolute;
        top: 1050px;
        left: 10px;
        border: 1px solid black;
        height: 550px;
        width: 100%;
        overflow: hidden;
        border-radius: 20px;
    }

    .box1 {
        /* position: relative; */
        /* top: 160px; */
        border: 1px solid black;
        height: 300px;
        width: 100% !important;
        overflow: hidden;
    }

    .box1img {
        filter: grayscale(100%);
        object-fit: cover;
        transition: all 2s;

    }

    .box1img:hover {
        filter: grayscale(0%);
        transform: scale(1.1);
    }

    .box1 .name p {
        position: absolute;
        top: 10px;
        left: 30px;
        font-size: 20px;
        color: red;
        /* font-weight: 900; */
    }



    .box2 {
        position: static !important;
        right: 0;
        top: 0px;
        border: 1px solid black;
        height: 550px;
        width: 100% !important;
        overflow: hidden;
    }

    .box2img {
        filter: grayscale(100%);
        object-fit: cover;
        transition: all 2s;
    }

    .box2img:hover {
        filter: grayscale(0%);
        transform: scale(1.1);
    }

    .box2 .name1 p {
        position: absolute;
        top: 19rem !important;
        left: 10px;
        font-weight: 600;
        color: red;
        font-size: 20px;
    }


    .box3 {
        position: static !important;
        left: 0;
        /* top: 460px; */
        border: 1px solid black;
        height: 250px;
        width: 100% !important;
        overflow: hidden;
    }

    .box3 {
        position: absolute;
        left: 0;
        /* top: 460px; */
        border: 1px solid black;
        height: 250px;
        width: 35%;
        overflow: hidden;
    }

    .box3img {
        filter: grayscale(100%);
        object-fit: cover;
        transition: all 2s;
    }

    .box3img:hover {
        filter: grayscale(0%);
        transform: scale(1.1);

    }

    .box3 .name2 p {
        position: absolute !important;
        top: 53rem !important;
        left: 10px;
        font-weight: 600;
        color: red;
        font-size: 20px;
    }


    .box4 {

        position: static !important;
        left: 0 !important;
        /* top: 460px; */
        border: 1px solid black;
        height: 250px;
        width: 100%;
        width: 100% !important;
        overflow: hidden;
    }

    .box4img {
        filter: grayscale(100%);
        object-fit: cover;
        transition: all 2s;

    }

    .box4img:hover {
        filter: grayscale(0%);
        transform: scale(1.1);
    }

    .name3 p {
        position: static !important;
        top: 10px !important;
        /* z-index: 999 !important; */
        left: 10px;
        font-weight: 600;
        font-size: 20px;
        color: red;

    }

    .con-box2 {
        position: static !important;
        /* top: 1050px; */
        right: 15px;
        border: 1px solid black;
        height: 550px;
        width: 95% !important;
        overflow: hidden;
        border-radius: 20px;
    }


}


.box {
    position: relative;
    /* height: 35rem; */

}

.box1 {
    position: relative;
    /* top: 160px; */
    border: 1px solid black;
    height: 300px;
    width: 70%;
    overflow: hidden;
}

.box1img {
    filter: grayscale(100%);
    object-fit: cover;
    transition: all 2s;

}

.box1img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.box1 .name p {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 20px;
    color: red;
}


.box2 {
    position: absolute;
    right: 0;
    top: 0px;
    border: 1px solid black;
    height: 550px;
    width: 30%;
    overflow: hidden;
}

.box2img {
    filter: grayscale(100%);
    object-fit: cover;
    transition: all 2s;
}

.box2img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.box2 .name1 p {
    position: absolute;
    top: 0px;
    left: 10px;
    font-weight: 600;
    color: red;
    font-size: 20px;
}


.box3 {
    position: absolute;
    left: 0;
    /* top: 460px; */
    border: 1px solid black;
    height: 250px;
    width: 35%;
    overflow: hidden;
}

.box3img {
    filter: grayscale(100%);
    object-fit: cover;
    transition: all 2s;
}

.box3img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);

}

.box3 .name2 p {
    position: absolute;
    top: 0px;
    left: 10px;
    font-weight: 600;
    color: red;
    font-size: 20px;
}


.box4 {
    position: absolute;
    left: 523px;
    top: 300px;
    border: 1px solid black;
    height: 250px;
    width: 35%;
    overflow: hidden;
}

.box4img {
    filter: grayscale(100%);
    object-fit: cover;
    transition: all 2s;

}

.box4img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.box4 .name3 p {
    position: absolute;
    top: 10px !important;
    /* z-index: 999 !important; */
    left: 10px;
    font-weight: 600;
    font-size: 20px;
    color: red;

}

.con-box {
    position: absolute;
    /* top: 450px; */
    margin-top: 50px;
    height: 550px;
    width: 100%;
    margin-bottom: 100px;
}

.con-box1 {
    position: absolute;
    /* top: 1050px; */
    left: 10px;
    border: 1px solid black;
    height: 550px;
    width: 33.33%;
    overflow: hidden;
    border-radius: 20px;
}

.con-box1 img {
    filter: grayscale(100%);
    object-fit: cover;
    transition: all 2s;
}

.con-box1 img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.con-box2 {
    position: absolute;
    /* top: 1050px; */
    right: 15px;
    border: 1px solid black;
    height: 550px;
    width: 33.33%;
    overflow: hidden;
    border-radius: 20px;
}

.con-box2 img {
    filter: grayscale(100%);
    object-fit: cover;
    transition: all 2s;
}

.con-box2 img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.con-box3 {
    position: absolute;
    right: 530px;
    border: 1px solid black;
    height: 550px;
    width: 30%;
    overflow: hidden;
    border-radius: 50%;
}

.con-box3 img {
    filter: grayscale(100%);
    object-fit: cover;
    transition: all 2s;
    border-radius: 50%;
}

.con-box3 img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.imgsec img {
    width: 100%;
    left: 0;
}
.imgsecbooking img{
    width: 66%;
    left: 0;
    height: 101%;
}
.cardwidth0 {
    width: 80%;
    top: 0;
}
.footmar {
    margin-left: 8%;
}

@media only screen and (max-width: 620px) {
    /* .luxurious {
        margin-top: 75rem !important;
    } */

    .imgsec img {
        width: 100%;
        left: 0;
        height: 100vh;
    }

    .footmar {
        margin-left: 0%;
    }


}



.island {
    position: relative;
    top: 690px;
    height: 500px;
    width: 100%;
}

.island img {
    filter: grayscale(100%);
    object-fit: cover;
    transition: all 2s;

}

.island img:hover {
    filter: grayscale(1.1%);
    transform: scale(1.1);
}

.island1 {
    position: absolute;
    border: 1px solid black;
    height: 500px;
    width: 25%;
    overflow: hidden;
}

.island2 {
    position: absolute;
    right: 0;
    border: 1px solid black;
    height: 500px;
    width: 25%;
    overflow: hidden;
}

.island3 {
    position: absolute;
    right: 50%;
    border: 1px solid black;
    height: 500px;
    width: 25%;
    overflow: hidden;
}

.island4 {
    position: absolute;
    right: 25%;
    border: 1px solid black;
    height: 500px;
    width: 25%;
    overflow: hidden;
}


.location {
    position: relative;
    border: 1px solid red;
    height: 600px;
    top: 1190px;
}

.location1 {
    position: absolute;
    border: 1px solid black;
    height: 600px;
    width: 30%;
}

.location2 {
    position: absolute;
    border: 1px solid black;
    height: 300px;
    right: 0;
    width: 35%;
}

.location3 {
    position: absolute;
    border: 1px solid black;
    right: 35%;
    height: 300px;
    width: 35%;
}

.location4 {
    position: absolute;
    border: 1px solid black;
    height: 300px;
    width: 70%;
    right: 0;
    top: 300px;
}

.Luxtext h2{
    color: #43F609;
    font-size: 5rem;
    font-family: 'Cormorant', serif;
    font-family: 'Crimson Text', serif;
}
.Luxtext h3{
    font-family: 'Cormorant', serif;
    font-family: 'Crimson Text', serif;
    font-size: 2rem;
}

/* .luxurious {
    margin-top: 5%;
} */

.Mirinda {
    margin-top: 15.7rem;

}

.Mirinda h1 {
    width: 100%;
    font-size: 5rem;
    text-align: center;
    font-family: 'Cormorant', serif;
    font-family: 'Crimson Text', serif;
    background-color: rgb(49, 34, 29);
    color: #fff;
    padding: 20px;

}
.mirinda0 h1{
    width: 100%;
    font-size: 5rem;
    text-align: center;
    font-family: 'Cormorant', serif;
    font-family: 'Crimson Text', serif;
    background-color: rgb(49, 34, 29);
    color: #fff;
    padding: 20px;
}

.catnavbg {
    background-color: #484040;
}

.then {
    color: #fff;


}

.banbtn button {
    background-color: #fff;
    border-radius: 3px;
    color: rgb(49, 34, 29);

}

.banbtn button:hover {
    background-color: rgb(49, 34, 29);
    color: #fff;
}

/* .bantext h2 {
    background-color: rgb(49, 34, 29, 0.3);

} */

.banbtn1 button {
    background-color: transparent;
    color: #fff;
}

.banbtn1 button:hover {
    background-color: #fff;
    border-radius: 3px;
    color: rgb(49, 34, 29);
}

.Discover {
    padding: 20px;
    background-color: rgb(49, 34, 29);

}

.Discover p {
    color: #fff;
}

.Discover h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #fff;

}

.Situated {
    padding: 20px;
    background-color: rgb(49, 34, 29);
}

.Situated p {
    color: #fff;
}

.Situated h1 {
    font-size: 5rem;
    /* font-weight: bold; */
    color: #fff;
    font-family: 'Cormorant', serif;
    font-family: 'Crimson Text', serif;
    /* font-family: 'Roboto Mono', monospace; */

}

.about1 {
    background-color: rgb(49, 34, 29);

}

.about1 h1 {
    padding: 30px;
    font-size: 6rem;
    text-align: center;
    background-color: rgb(61, 52, 49);
    color: #fff;
    font-family: 'Cormorant', serif;
    font-family: 'Crimson Text', serif;
}


.about-box {
    /* position: absolute; */
    border: 1px solid black;
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.about-box:hover {
    border: 3px solid greenyellow;
}

.about-box img {
    filter: grayscale(100%);
    object-fit: cover;
    transition: all 2s;
}

.about-box img:hover {
    filter: grayscale(0%);
    transform: scale(1.2);
    border: 2px solid greenyellow;
}

.DiscoverBack h1 {
    font-family: 'Cormorant', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    /* font-weight: bolder; */
    font-size: 50px;
    padding: 20px;
}

.DiscoverBack h6 {
    text-align: justify;
    font-size: 25px;
    font-weight: 400;
    padding: 20px;
}

.DiscoverBack img {
    padding: 20px;
}


.Gallary {
    /* position: absolute; */
    width: 100%;
    overflow: hidden;
    height: 100%;
    border: 3px solid transparent;
    
}

.Gallary:hover {
    border: 3px solid greenyellow;
}

.Gallary img {
    filter: grayscale(100%);
    object-fit: cover;
    transition: all 2s;
    height: 280px;
}

.Gallary :hover img {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.cardh5 h5 {
    color: greenyellow;
    font-weight: bold;
    text-align: center;
    font-family: 'Cormorant', serif;
    font-family: 'Crimson Text', serif;
    margin-top: 14rem;
}

.gallaryback {
    background-color: #000;
    padding: 35px;
}

.galic i {
    margin: 5px;
    color: #9c8e8e;
}

.galhead h1 {
    width: 100%;
    font-size: 5rem;
    text-align: center;
    font-family: 'Cormorant', serif;
    font-family: 'Crimson Text', serif;
    color: #fff;
    padding: 20px;
    margin-bottom: 25px;
}


.Gallarytext {
    padding: 20px;
    margin-top: 3rem !important;
    background-color: rgb(49, 34, 29);
}

.Gallarytext p {
    color: #fff;
    text-align: justify;
    font-size: 25px;
    font-weight: 400;
}

.Gallarytext h1 {
    font-size: 5rem;
    /* font-weight: bold; */
    color: #fff;
    font-family: 'Cormorant', serif;
    font-family: 'Crimson Text', serif;
    /* font-family: 'Roboto Mono', monospace; */

}

.roombgbanner1 {
    height: 73vh;
    width: 100%;
    position: absolute;
}

.roombgbanner1 img {
    color: #000;

}

.roombgbanner {
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    height: 73vh;
    width: 100%;
    background-color: #000;
    opacity: .5;

}

.roombgbanner h1 {
    top: 16%;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 13rem;
    padding-right: 13rem;
    font-size: 5rem;
    color: #fff;
    font-family: 'Cormorant', serif;
    font-family: 'Crimson Text', serif;

}

.LuxBlogs {
    background-color: rgb(49, 34, 29);
    padding: 35px;
}

.LuxBlogs img {
    filter: grayscale(100%);
    object-fit: cover;
    transition: all 2s;
    height: 380px;
}

/* .BlogsFeeds {
    background-color: #484040;
} */

.BlogsFeeds h1 {
    font-size: 5rem;
    color: rgb(37, 25, 22);
    font-family: 'Cormorant', serif;
    font-family: 'Crimson Text', serif;

}


.BlogsFeedstext{
    background-color: #fff;
    color: #000;
    padding: 1rem;
}


.Swiperjs{
    overflow: hidden;
}
.Swiperjs img{
    height: 400px;
    background-color: #fff;

}
.SwiperSlide {
    overflow: hidden;
}

.SwiperSlide img {
    filter: grayscale(100%);
    object-fit: cover;
    transition: all 3s;
    /* height: 280px; */
}
.SwiperSlide :hover img {
    filter: grayscale(0%);
    transform: scale(1.3);

}
.bgblack{
    background-color: #000;
    padding-bottom: 15px;
    
}
.MonageaTrois{
    background-color: rgb(49, 34, 29);
    font-family: 'Cormorant', serif;
    font-family: 'Crimson Text', serif;
    padding: 1rem;
}
.MonageaTrois h1{
    color: #fff;
    font-size: 5rem;
}
.MonageaTrois h6{
    color: #fff;
    font-size: 2rem;
    text-align: justify;
    padding: 10px;
}

.MonageaTrois img {
    filter: grayscale(100%);
    object-fit: cover;
    transition: all 2s;
    /* height: 280px; */
}
.MonageaTrois :hover img {
    filter: grayscale(0%);
    transform: scale(1.07);
}

.MonageaTrois2 img{
    height: 18rem;
    width: 100%;
    overflow: hidden;
}
.MonageaTrois2 img {
    filter: grayscale(100%);
    object-fit: cover;
    transition: all 2s;
    /* height: 280px; */
}
.MonageaTrois2 :hover img {
    filter: grayscale(0%);
    transform: scale(1.07);
}
.MonageaTrois21{
    background-color: rgb(49, 34, 29);
    color: greenyellow;
    padding-top: 1rem;
    padding-bottom: 1rem;
}



.collectionBook{
    position: absolute;
    overflow: hidden;
}

.bookingbor{
   overflow: hidden;
   border: 3px solid transparent;

}
.bookingbor:hover{
    border: 3px solid greenyellow;
    border-radius: 5px;
    overflow: hidden;
    /* padding-top: 5px;
    padding-bottom: 5px; */
}
.collectionBook img{
        filter: grayscale(100%);
        object-fit: cover;
        transition: all 2s;
}

.collectionBook img:hover {
    filter: grayscale(0%);
    transform: scale(1.3);
    border: 2px solid greenyellow;
}
.HotelPage h2{
    font-family: 'Cormorant', serif;
    font-family: 'Crimson Text', serif;
    padding: 1rem;
    font-size: 3rem;
}
.linetext h6{
    overflow: hidden;
    text-align: center;
    font-family: 'Cormorant', serif;
    font-family: 'Crimson Text', serif;
}
.linetext h6::before{
    
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    width: 40%;
    margin-right: 5px;
    margin-left: -10%;
    
}
.linetext h6::after{
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    width: 40%;
    margin-right: -10%;


}
.bookpage0{
 background-color: #edefed;
 height: max-content;
}
.bookpageimgset{
    margin-top: 5rem;
}

/* first box  */

.Catheart{
    position: relative;
    
}
.Catheart1{
    position: absolute;
    top:15%;
    right:5%;
    color: transparent;
    transform: translate(-50%, -50%);
    opacity: 1;
    font-size: 28px;
    

}

.Catheart:Hover .Catheart1 i{
    opacity: 1;
    color: orangered;
    font-size: 28px;
    border-radius: 50%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #fff;
    
    
}

.rightarrow{
    position: absolute;
    bottom:0;
    right:5%;
    transform: translate(-50%, -50%);
    opacity: 1;
    font-size: 38px;
    transition: all;
    transition-duration: 1s;
}
.rightarrow i{
    color: transparent;
}
.rightarrow i:hover{
    color: blue !important;
}


.Catheart:Hover .rightarrow i{
    bottom:0;
    right:2%;
    opacity: 1;
    color: #fff;
    font-size: 38px;
    border-radius: 50%;
    margin-right: -10px;
    transition: all;
    transition-duration: 1s;
    display: block !important;
    
    
}
.box2heart:Hover .rightarrow i{
    bottom:0;
    right:2%;
    opacity: 1;
    color: #fff;
    font-size: 38px;
    border-radius: 50%;
    margin-right: -10px;
    transition: all;
    transition-duration: 1s;
    
}
.box3heart:Hover .rightarrow i{
    bottom:0;
    right:2%;
    opacity: 1;
    color: #fff;
    font-size: 38px;
    border-radius: 50%;
    margin-right: -10px;
    transition: all;
    transition-duration: 1s;
    
}
.box4heart:Hover .rightarrow i{
    bottom:0;
    right:2%;
    opacity: 1;
    color: #fff;
    font-size: 38px;
    border-radius: 50%;
    margin-right: -10px;
    transition: all;
    transition-duration: 1s;
    
}



 /* second Box */

.box2heart{
    position: relative;
}
.box2heart1{
    position: absolute;
    top: 5%;
    right: 5%;
    color: transparent;
    font-size: 28px; 
    

}
.box2heart:Hover .box2heart1 i{
    opacity: 1;
    color: orangered;
    font-size: 28px;
    border-radius: 50%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #fff;
}
 /* third Box */

 .box3heart{
    position: relative;
}
.box3heart1{
    position: absolute;
    top: 8%;
    right: 5%;
    color: transparent;
    font-size: 28px; 
    
}
.box3heart:Hover .box3heart1 i{
    opacity: 1;
    color: orangered;
    font-size: 28px;
    border-radius: 50%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #fff;
    
}
 /* Fourth Box */

 .box4heart{
    position: relative;
}
.box4heart1{
    position: absolute;
    top: 8%;
    right: 5%;
    color: transparent;
    font-size: 28px; 
    /* opacity: 0.1; */
}
.box4:Hover .box4heart1 i{
    color: orangered;
    font-size: 28px;
    border-radius: 50%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #fff;
    
}



.pacific{
    position: relative;
    top: 0;
    left: 0;
}
.pacific1 i {
    padding: 3px;
}
.pacific1{
    position: absolute;
    top:50%;
    left:50%;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 28px;
    opacity: .3;
   
}
.card:Hover .pacific1 {
    opacity: 1;
    color: greenyellow;
    transition: all;
    transition-duration: 2s;
}






.collectionheart{
    position: relative;
}
.colborder:hover{
    border: 3px solid greenyellow;
    border-radius: 5px;
}
.collectionhearthover i {
    padding: 10px;
}
.collectionhearthovertop{
    position: absolute;
    top:12%;
    right:2%;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 28px;
    opacity: .1;
    border-radius: 50%;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
}
.collectionheart:Hover .collectionhearthovertop {
    opacity: 1;
    color: red;
    background-color: #fff;
   
}
.collectionhearthover{
    position: absolute;
    bottom:4%;
    color: #fff;
    font-size: 28px;
    opacity: .3;
    

}
.collectionheart:Hover .collectionhearthover {
    opacity: 1;
    color: greenyellow;
    transition: all;
    transition-duration: 1s;
    
}






